.section4 {
    background-image: url(/public//img/section4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.sectionContainer4 {
    padding-top: 250px;
}

.sectionContainer4 > p {
    max-width: 760px;
    font-size: 35px;
    padding-bottom: 150px;
    color: #ffffff8f;
    z-index: 2;
}

