.section3 {
    background-color: #303030;
    background-image: none;
    padding-top: 200px;
}



.box3 > h1 {
    font-size: 55px;
    font-weight: 700;
}


.box3 > p {
    font-size: 35px;
}

